@import "bourbon";
@import "font-awesome";

body {
  background: #e2ebf3;
}

li {
	list-style: none;
}

h1 {
	padding-left: 20px;
	margin-bottom: 5px;
}
h3 {
	margin-top: 0px;
	padding-left: 20px;
}

.artworkHeader {
	margin-left: 20px;
}

.artwork {
	background: white;
	border: 1px solid grey;
	width: 300px;
	padding: 10px;
	margin-left: 20px;
	height: 300px;
	overflow: scroll;
}

.artworkImage {
	background: white;
	border: 1px solid grey;
	width: 300px;
	padding: 10px;
	margin-left: 20px;
}

.artTitle {
	font-weight: bold;
	font-size: 1.1em;
}

.medium {
	font-style: italic;
}

.sale {
	padding-top: 10px;
}



