@import "bourbon";
@import "font-awesome";

body {
  background: white;
}

.container {
	margin-left: 200px;
}

.app {
}

.doublewolf {
	width: 150px;
	position: fixed;
	top: 10px;
	left: 10px;
}

.artworkHeader {
	margin-left: 20px;
}

h2 {
	color: grey;
}

.artwork {
	width: 200px;
	padding: 10px;
	margin-left: 20px;
}

.artworkbox {
	display: inline-block;
	vertical-align: top;
	margin-top: 25px;
	margin-left: 25px;
}

.artImage {
	margin-top: 25px;
}

.artTitle {
	font-weight: 300;
	font-size: 1em;
	border: 1px solid #e3e3e3;
	padding-bottom: 3px;
	border-left: none;
	border-right: none;
	border-top: none;
	width: 200px;
}

.artTitle:hover {
	cursor: pointer;
	border-bottom: 1px solid red;
}
.artTitle:active {
	color: grey;
	border-bottom: none;
}

.title {
	font-weight: bold;
	font-size: 1em;
	margin: 0;
}

.medium {
	font-style: italic;
	margin: 0;
}

.year {
	margin: 0;
}

.sale {
	padding-top: 10px;
	margin: 0;
}

.back {
	text-decoration: none;
	i {
		font-size: 1.5em;
		color: grey;
		margin-top: 10px;
	}
	i:hover {
		color: red;
	}
}



